body {
    padding: 3em;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0,0,0);
    justify-content:space-between;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}