body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    height: 100vh;
}

header {
    font-size: 32px;
    font-weight: bold;
    padding-left: 0.6em;
    line-height: 1.5;
    border-bottom: 2px solid black;
    margin-bottom: 0.5em;
    flex-shrink: 0;
}

main {
    padding: 2em;
    flex-grow: 1;
}

footer {
    padding: 1em;
    background-color: rgb(102, 102, 102);
    color: rgb(255,255,255);
    flex-shrink: 0;
}